@model ClothesStore.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableSizes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableSizes)
        </dd>

    </dl>
</div>

<p>
    <input type="button" class="btn btn-default" value="Back to Items" onclick="location.href='@Url.Action("Index","Items")'" />
    <input type="button" class="btn btn-success" value="Add to cart" onclick="location.href='@Url.Action("AddToCart","Items",new { id = Model.ItemId })'" />
</p>
