@model ClothesStore.Models.ShoppingCart

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this shoppingcart?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date Created
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            Total Sum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)€
        </dd>
        <dt>
            Check Out Completed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>



    </dl>
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Category</th>
            <th>Price</th>

        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => item.Article.Name)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Article.Category)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Article.Price)€
                </td>
            </tr>
        }
    </table>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        
        <div class="form-actions no-color">
            <input type="button" class="btn btn-default" value="Back to Purchase History" onclick="location.href='@Url.Action("Index","ShoppingCarts")'" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
