@model ClothesStore.Models.ShoppingCart

@{
    ViewBag.Title = "Details";
}

<h2>Shopping Cart</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date Created
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            Total Sum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)€
        </dd>
        <dt>
            Check Out Completed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>



    </dl>
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
            

        </tr>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(Model => item.Article.Name)
            </td>
            <td>
                @Html.DisplayFor(Model => item.Article.Category)
            </td>
            <td>
                @Html.DisplayFor(Model => item.Article.Price)€
            </td>
            <td>
                @if (!Model.IsPaid)
                {
                    <input type="button" class="btn btn-danger" value="Remove" onclick="location.href='@Url.Action("RemoveFromCart","Items",new { id = item.ItemID })'" />
                }
            </td>

        </tr>
        }
    </table>
</div>

<p>
    <input type="button" class="btn btn-default" value="Back to Items" onclick="location.href='@Url.Action("Index","Items")'" />
    <input type="button" class="btn btn-default" value="Purchase History" onclick="location.href='@Url.Action("Index","ShoppingCarts")'" />
    @if (!Model.IsPaid)
    {
        if (Model.Sum > 0)
        {
            <input type="button" class="btn btn-success" value="Check Out" onclick="location.href='@Url.Action("MakeTransaction", "ShoppingCarts", new { id = Model.ShoppingcartId })'" />
        }
    }
</p>
